<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="logo-container">
      <a href="/">
        <img src="{{ site.compass.logo }}" alt="{{ site.compass.author }}" class="sidebar-logo" />
      </a>
    </div>
    <div class="author-container">
      <h1 class="sidebar-author">{{ site.compass.author }}</h1>
    </div>
    <div class="sidebar-tagline modern-tagline">
      <div class="tagline-title"><i class="fa fa-user-graduate"></i> Associate Professor</div>
      <div class="tagline-title" style="margin-left:1.7em;">(without tenure)</div>
      <div class="tagline-row tagline-sub" style="margin-left:1.7em;">Department of Economics</div>
      <div class="tagline-row tagline-sub" style="margin-left:1.7em;">Columbia University</div>
      <div class="tagline-row"><i class="fa fa-paper-plane"></i> <a href="mailto:ha2475@columbia.edu">ha2475@columbia.edu</a></div>
      <div class="tagline-row">NBER <span class="tagline-sub">Faculty Research Fellow</span></div>
      <div class="tagline-row">CESifo <span class="tagline-sub">Research Network Affiliate</span></div>
    </div>
    <nav class="sidebar-menu sleek-menu">
  <a href="/cv/" class="menu-icon-labeled" title="CV"><i class="fa fa-paperclip"></i><span>CV</span></a>
      <a href="https://scholar.google.com/citations?user=mnxLP9YAAAAJ&hl=en" class="menu-icon-labeled" target="_blank" title="Google Scholar"><i class="fa fa-google"></i><span>Google Scholar</span></a>
      <a href="https://afrouzi.com/DRIPs.jl/dev" class="menu-icon-labeled" target="_blank" title="DRIPs"><i class="fa fa-github"></i><span>DRIPs</span></a>
      <a href="http://cognition.econ.columbia.edu" class="menu-icon-labeled" target="_blank" title="Cognition & Decision Lab"><i class="fa fa-brain"></i><span>Cognition & Decision Lab</span></a>
    </nav>

  </div>
</aside>
