---
---

// $text-color: #46433A;
// $anchor-text-color: #CE534D;
// $background-color: #F1EED9;

$text-color: #37342c;
$anchor-text-color: #860e24;
$background-color: #fff6e3;
$dark-background-color: #f4e4c2;
$darker-background-color: #e8d1a2;
$size-normal: 20px;
$size-big: 22px;
$size-menu: 24px;

body {
	font-family: 'Crimson Text', serif;
	color: $text-color;
	line-height: 1.45;
	font-size: $size-normal;
	font-weight: 400;
	background-color: $background-color;
}

.header-button {
	background-color: $dark-background-color; /* Background color of the button */
	border: none;               /* Remove the default border */
	// color: white;               /* Text color of the button */
	padding: 5px 15px;         /* Padding around the button text */
	text-align: center;         /* Center the text within the button 
	*/
	font-weight: bold;
	text-decoration: none;      /* Remove the underline from the link 
	*/
	display: inline-block;      /* Allow for width and height */
	font-size: 15.5px;            /* Font size of the button text */
	margin: 2px 2px;            /* Margin around the button */
	cursor: pointer;            /* Cursor changes to a pointer when hovering over the button */
	transition: background-color 0.3s ease; /* Transition effect for background color */
	border-radius: 20px;        /* Rounded edges for the button */
  }
  
  .header-button:hover {
	// background-color: #cec198; /* Change the background color when hovering over the button */
	background-color: $darker-background-color; /* Change the background color when hovering over the button */
  }
  
  .header-button:active {
	text-decoration: none;
  }

.journal {
	color: black;
	font-size: $size-big;
}

.phone-content {
	display: flex; /* Use flexbox layout */
	flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
	justify-content: center; /* Center the flex items horizontally */
	align-items: center; /* Center the flex items vertically */
	align-content: center; /* Center multiple lines of flex items vertically */
	/* If you want to limit the width of the .phone-content section, you can use the max-width property */
	max-width: 500px; /* Example max-width, adjust as needed */
	margin: auto; /* Center the .phone-content section itself */
  }
  
.other-content {
	display: none; /* Hide other content by default */
}
  

header,
main {
	padding: 0px;
}

/*** wrapper div for both header and main ***/
.wrapper {
	margin-top: 10%;
}

table {
	font-size: $size-big;	
  }

table td, table th {
	vertical-align: top; /* Align content to the top of the table cells */
  }

/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
	color: $anchor-text-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*** main content list ***/
.main-list-item {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0.8em 0;
}

/* override the left margin added by font awesome for the main content list,
since it must be aligned with the content */
.fa-ul.main-list {
	margin-left: 0;
}

/* list icons */
.main-list-item-icon {
	width: 36px;
	color: $text-color;
}

/*** logo ***/
.logo-container {
	text-align: center;
}

.logo {
	width: 275px;
	height: 275px;
	display: inline-block;
	background-size: cover;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border: 2px solid $background-color;
	box-shadow: 0 0 0 3px $text-color;
}

/*** author ***/
.author-container h1 {
	font-size: 2.1em;
	margin-top: 4%;
	margin-bottom: 0;
	text-align: center;
}

/*** tagline ***/
.tagline-container p {
	font-size: 1.1em;
	text-align: left;
	margin-bottom: 1em;
	margin-left: 20px;
}

main {
	margin: 20px;
}

/******/
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), $text-color, rgba(0,0,0,0));
}

/*** footer ***/
footer {
	width: 100%;
	bottom: 0;
	right: 0;
	height: 20px;
	// text-align: right;
}

.poweredby {
	font-family: "Arial Narrow", Arial;
	font-size: 0.6em;
	line-height: 0.6em;
	padding: 0 5px;
	color: gray;
	text-align: right;
}

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 10% auto 0 auto;
	}
}

/* All other devices (768px and up) */
@media (min-width: 768px) {
	/* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
	.wrapper {
		float: left;
		width: 60vw;
		min-width: 700px;
		margin-left: max(55px, 5%);
		margin-top: 2%;
	}

	.phone-content {
		display: none; /* Hide phone content on larger screens */
		text-align: center;
	}
	.other-content {
		display: block; /* Show other content on larger screens */
	}

	/* the header column stays left and has a dynamic width with all contents
	aligned right */
	header {
		float: left;
		width: 340px;
		text-align: right;
	}

	.author-container h1,
	.logo-container,
	.tagline-container p {
		text-align: left;
		margin-left: 0;
	}

	main {
		width: 100%;
		margin: 0;
		margin-left: max(320px,45%);
	}

	menu {
		width: 100%;
		min-width: 940px;
		margin-left: max(300px,41%);
		padding-bottom: 25px;
	}

	.header-button {
		font-size: $size-menu;
	}
}
